/* Style viền cho các trạng thái khóa học */
.card.border-success {
  border: 2px solid green;
}

.card.border-danger {
  border: 2px solid red;
}

.card.border-warning {
  border: 2px solid orange;
}


.icon-approval, .icon-rejected, .icon-pending {
  font-size: 1.5rem;
}



.card {
  position: relative;
}

.icon-container {
  position: absolute;
  top: 10px;
  left: 10px; /* Đặt icon vào góc trên trái */
  font-size: 24px;
}

.card-body {
  /* padding-top: 40px;  */
}

.card-title {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
  text-align: left;
}
