/* Style viền cho các trạng thái khóa học */
.card.border-success {
  border: 2px solid green;
}

.card.border-danger {
  border: 2px solid red;
}

.card.border-warning {
  border: 2px solid orange;
}


.icon-approval, .icon-rejected, .icon-pending {
  font-size: 1.5rem;
}



.card {
  position: relative;
}

.icon-container {
  position: absolute;
  top: 10px;
  left: 10px; /* Đặt icon vào góc trên trái */
  font-size: 24px;
}

.card-body {
  padding-top: 40px; /* Tạo khoảng trống cho icon ở trên */
}

.card-title {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
  text-align: left;
}


.reject-reason-container {
  padding: 10px;
  border: 2px solid red;
  background-color: #ffe6e6; /* Màu nền nhẹ để làm nổi bật */
  border-radius: 5px;
  margin-bottom: 20px;
}

.reject-reason-text {
  color: red;
  font-size: 1.2rem; /* Tăng kích thước chữ */
}

.no-bold {
  font-weight: normal; /* Bỏ in đậm */
}

.modal-dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
  width: auto;
  max-width: 100%; /* Đảm bảo modal không vượt quá chiều ngang màn hình */
}

.custom-modal .modal-content {
  overflow-y: auto; /* Thêm cuộn dọc nếu nội dung quá dài */
}

.custom-modal .modal-backdrop {
  background-color: rgba(0, 0, 0, 0.5); /* Hiển thị nền mờ cho modal */
}