header {
    height: var(--header-height);
    background-image: linear-gradient(180deg, #F53E2D, #FE6433);
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.navbar__list {
    list-style: none;
    padding-left: 0;
    display: flex;
}

.navbar__item {
    margin: 0px 8px;
    position: relative;
}

.navbar__item,
.navbar__item-link {
    display: inline-block;
    font-size: 1.5rem;
    color: var(--white-color);
    text-decoration: none;
}

.navbar__item-link:first-child {
    margin-left: 3px;
}

.navbar__item:hover,
.navbar__item-link:hover {
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}

.navbar__item--hover-qr:hover .navbar__qr {
    display: block;
}

.navbar__item.disable-hover {
    color: var(--white-color);
    cursor: default
}

.navbar__item,
.navbar__item-link,
.navbar__item-icon-link {
    display: inline-flex;
    align-items: center;
}

.navbar__item--separate::after {
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 14px;
    background-color: #FB9086;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
}

.navbar__icon {
    font-size: 1.8rem;
    margin: 0px 4px;
}


.navbar__user {
    display: flex;
    justify-items: center;   
    position: relative;
}

.navbar__user:hover .navbar__user-menu{
    display: block;
}

.navbar__user-img {
    width: 22px;
    border-radius: 50%;
    background-color: #fff;
}

.navbar__user-name {
    margin-left: 6px;    
}

.navbar__user-menu {
    position: absolute;
    top: 120%;
    right: 0px;
    background-color: var(--white-color);
    border-radius: 2px;
    width: 140px;
    padding: 0px;
    z-index: 1;
    box-shadow: 0 0 1px #666;
    display: none
}

.navbar__user-menu::after {
    content: "";
    display: block;
    border: 12px rgba(0, 0, 0, 0) solid;
    border-bottom: 12px #fff solid;
    position: absolute;
    top: -18px;
    right: 12px;
    margin-left: 40px;
}

.navbar__user-menu::before {
    content: "";
    display: block;
    width: 60px;
    height: 20px;
    position: absolute;
    top: -10px;
    right: 25px;
}


.navbar__user-item a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    padding: 8px 16px;
    display: block;
}

.navbar__user-item a:first-child{
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.navbar__user-item a:last-child{
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.navbar__user-item a:hover {
    background-color: #fafafa;
}
/* Header QR CODE */

.navbar__qr {
    background-color: beige;
    width: 186px;
    position: absolute;
    left: 0px;
    top: 150%;
    border-radius: 4px;
    display: none;
    animation: fadeIn ease 0.4s;
    cursor: default;
    
}

.navbar__qr-img {
    width: 100%;
    padding: 8px;
}

.navbar__qr::before {
    position: absolute;
    top: -15px;
    left: 0px;
    content: "";
    width: 100%;
    height: 20px;
    display: block;
}

.navbar__qr-apps {
    display: flex;
    justify-content: space-between;
    padding: 7px 10px;
}

.navbar__qr-dowload-img {
    height: 18px;
}



/* Header notification board */

.navbar__arrowup {
    width: 0px;
    height: 0px;
    border: 20px solid rgba(0, 0, 0, 0);
    border-bottom: 20px solid white;
    position: absolute;
    top: -28px;
    right:10px;
}

.navbar__notiboard {
    background-color: var(--white-color);
    border: 1px solid #D3D3D3;
    border-radius: 2px;
    width: 404px;
    position: absolute;
    right :0;
    top: 150%;
    display: none;
    /* animation: fadeIn ease 0.4s; */
    cursor: default;
    will-change: opacity transform;
    transform-origin: calc(100% - 20px) top; /* Chỉnh tâm của animation */
    animation: notiboardGrowth45deg ease-in 0.3s;
    z-index: 1;
}

@keyframes notiboardGrowth45deg {
    from {
        opacity: 0;
        transform: scale(0);
    }   
    to {
        opacity: 1;
        transform: 1;
    }
}

.navbar__notiboard::before {
    content: "";
    width: 100%;
    height: 20px;
    display: block;
    position: absolute;
    top: -15px;
}

.navbar__item--hover-notiboard:hover .navbar__notiboard {
    display: block;
}

.navbar__notiboard-header {
    color: #666;
    font-size: 1.4rem;
    line-height: 40px;
    background-color: var(--white-color);
    height: 40px;
    user-select: none;
}

.navbar__notiboard-header h3 {
    margin-left: 12px;
}

.navbar__notiboard-list {
    padding-left: 0px;
}

.navbar__notiboard-item {
    background-color: rgba(238, 73, 43, 0.3);
}

.navbar__notiboard-link {
    display: flex;
    text-decoration: none;
    padding-left: 12px;
    
}

.navbar__notiboard-link:hover {
    background-color: rgba(238, 73, 43, 0.1);
}

.navbar__notiboard-img {
    height: 48px;
    padding: 5px 0px 8px 0px;
}

.navbar__notiboard-info {
    margin: 5px 12px;
}

.navbar__notiboard-name {
    margin: 0px;
    font-size: 1.4rem;
    color: var(--black-color);
}

.navbar__notiboard-desc {
    margin: 0px;
    font-size: 1.2rem;
    color: #756F6E;
    margin-top: 3px;
}

.navbar__notiboard-item-viewed {
    /* BackEnd xử lí */
    background-color: rgba(238, 73, 43, 0.0);
}

.navbar__notiboard-footer {
    padding: 5px;
    text-align: center;
}

.navbar__notiboard-footer-link {
    padding: 5px 120px;
    text-decoration: none;
    color: var(--text-color);
}

.navbar__notiboard-footer-link:hover {
    text-decoration: underline;
}

/* ================= MODAL =================*/
.auth-form {
    width: 500px;
}
.auth-form__container {
    padding: 0px 32px;
}

.auth-form__header {
    display: flex;
    justify-content: space-between;
    margin: 45px 12px 30px 12px;
}

.auth-form__heading {
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color)
}

.auth-form__switch-btn {
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--primary-color);
    cursor: pointer;
}

.auth-form__input {
    width: 100%;
    height: 40px;
    padding-left: 14px;
    font-size: 1.4rem;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    outline: none;
}

.auth-form__error-msg {
    color: #FF424F;
    margin-top: 4px;
    font-size: 1.2rem;
}

.auth-form__group {
    margin-bottom: 13px;
}

.auth-form__input:focus {
    border-color: #777;
}

.auth-form__policy-text {
    font-size: 1.2rem;
    text-align: center;
}

.auth-form__text-link {
    text-decoration: none;
    color: var(--primary-color);
}

.auth-form__controls {
    margin-top: 88px;
    margin-bottom: 20px;
    display: flex;
    justify-content: end;
}

.auth-form__socials {
    display: flex;
    justify-content: space-between;
    background-color: #f5f5f5;
    padding: 12px 32px;
}

.btn.btn--size-s.btn--auth-fb {
    background-color: #3A5A98;
    color: var(--white-color);
}

.btn.btn--size-s.btn--auth-gg {
   background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
   color: var(--black-colorwhite-color);
}

.auth-form__socials-icon {
    font-size: 2rem;
    padding: 0px 0px 0px 15px;
}

.auth-form__socials-text {
    padding: 0px 25px; 
}

.authform__help {
    display: flex;
    justify-content: right;
}

.auth-form__help-link {
    text-decoration: none;
    font-size: 1.4rem;
    padding-top: 2px;
    color: #939393;
}

.auth-form__help-separate {
    width: 1px;
    height: 22px;
    background-color: #d6d6d6a8;
    margin: 0px 16px;
}

.auth-form__help-forgot {
    color: var(--primary-color);
}

/* ================= HEADER SEARCH =================*/
.header-with-search {
    height: var(--header-with-search-height);
    display: flex;
    align-items: center;
    padding: 0px 8px;
}

.header__logo {
    width: 200px;
}

.header__logo-img {
    width: 150px;
}

.header__search {
    background-color: var(--white-color);
    height: 40px;
    flex: 1;
    border-radius: 3px;
    display: flex;
    align-items: center;
}

.header__search-input-wrap {
    flex: 1;
    height: 100%;
    position: relative;
}

.header__search-input {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 3px;
    outline: none;
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 0px 16px;
}

/* ================= HEADER SEARCH HISTORY =================*/

.header__search-input:focus ~ .header__search-history {
    display: block;
}

.header__search-history {
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    width: calc(100% - 16px);
    background-color: var(--white-color);
    border-radius: 3px;
    box-shadow: 0 0 1px #666;
    display: none;
}

.header__search-history-heading {
    margin: 8px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 500;
}

.header__search-history-list {
    padding-left: 0px;
    margin-bottom: 0px;
}

.header__search-history-item {
    height: 38px;
    padding: 0 12px;
}

.header__search-history-item:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.header__search-history-item a {
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    line-height: 38px;
    display: block;
}

.header__search-history-item:hover {
    background-color: #f4f4f4;
}
/* ================= HEADER SEARCH SELECTION + Search button=================*/


.header__search-select {
    border-left: 1px solid #E8E8E8;
    padding-left: 16px;
    position: relative;
    cursor: pointer;
}

.header__search-select::after {
    content: "";
    display: block;
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    height: 30px;
    position: absolute;
    top: 30%;
    left: 0;
}

.header__search-select:hover .header__search-option {
    display: block;
}

.header__search-select-label {
    font-size: 1.4rem;
    color: var(--text-color);
    line-height: 28px;
}

.header__search-select-icon {
    font-size: 1.4rem;
    color: #666666;
    margin: 0 16px 0px 8px;
    position: relative;
    top: 1px;
}

.header__search-btn {
    background-color: #fb5533;
    border: none;
    outline: none;
    border-radius: 2px;
    height: 34px;
    width: 60px;
    margin-right: 3px;
}

.header__search-btn:hover {
    opacity: 0.8;
    cursor: pointer;
}

.header__search-btn-icon {
    font-size: 1.4rem;
    color: white;
}

.header__search-option {
    position: absolute;
    right: 0;
    top: calc(100% - 2px);
    width: 125px;
    background-color: #fff;
    box-shadow: 0 0 3px #ccc;
    padding-left: 0;
    border-radius: 3px;
    display: none;
    animation: fadeIn ease 0.3s;
}

.header__search-option-item {
    background-color: var(--white-color);
    border-radius: 3px;
    padding: 8px 8px 8px 15px;
}

.header__search-option-item:hover {
    background-color: #efefef;
}

.header__search-option-item span {
    font-size: 1.3rem;
    color: var(--text-color);
}

.header__search-option-item i {
    font-size: 1.2rem;
    color: var(--primary-color);
    margin: 0 7px 0 12px;
    display: none;
}

.header__search-option-item--active i {
    display: inline-block;
}

.header__cart {
    width: 150px;
    /* text-align: center; */
}

.header__cart-wrap {
    position: relative;
    display: inline-block;
    padding: 0px 10px;
}

.header__cart-icon {
    color: var(--white-color);
    font-size: 2.4rem;
    margin-top: 6px;
    cursor: pointer;
}

.header__cart-wrap:hover .header__cart-list {
    display: block;
}

.header__cart-list {
    position: absolute;
    top: calc(100% + 6px);
    right: 0px;
    background-color: white;
    width: 360px;
    border-radius: 2px;
    box-shadow: 0 1px 3.125rem 0 rgba(0, 0, 0, 0.2);
    display: none;
    animation: fadeIn ease 0.4s;
    z-index: 1;
}

.header__cart-list::after {
    content: "";
    display: block;
    border: 15px rgba(0, 0, 0, 0) solid;
    border-bottom: 15px white solid;
    width: 0px;
    height: 0px;
    position: absolute;
    top: -23px;
    right: 5px;
}

.header__cart-list--no-cart .header__cart-nocart-img,
.header__cart-list--no-cart .header__cart-nocart-msg {
    margin: auto;
    display: block;
}

.header__cart-nocart-img {
    width: 60%;
    display: none;
}

.header__cart-nocart-msg {
    font-size: 1.4rem; 
    margin-top: 14px;
    text-align: center;
    display: none;
}

.header__cart-list--no-cart {
    padding: 28px 0;
}

.header__cart-notice {
    position: absolute;
    right: -2px;
    top: -3px;
    font-size: 1.3rem;
    line-height: 1.4rem;
    padding: 1px 7px;
    background-color: var(--white-color);
    color: var(--primary-color);
    border-radius: 10px;
    border: 2px var(--primary-color) solid;
    cursor: pointer;

}

/* HAVE PRODUCT */

.header__cart-list-products {
    padding: 0px;
}

.header__cart-product {
    padding: 10px;
    height: 61.6px;
    display: flex;
}

.header__cart-product:hover {
    background-color: #F7F7F7;
}

.header__cart-product-img {
    height: 41.6px;
}

.header__cart-product-info {
    margin-left: 10px;
    display: inline
}

.header__cart-product-name {
    font-size: 1.3rem;
    line-height: 1.3rem;
    height: 2.6rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /*gioi han so dong*/
}

.header__cart-product-quantity {
    font-size: 1.2rem;
    font-style: italic;
}

.header__cart-total {
    font-size: 1.6rem;
    margin: 20px 15px;
    display: block;
    position: relative;
}

.header__cart-total::before {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--primary-color);
    position: absolute;
    top: -10px;
}

.header__cart-clear-btn.btn {
    color: var(--primary-color);
    height: 18px;
    min-width: 80px;
}

.header__cart-clear-btn.btn:hover {
    text-decoration: underline;
    background-color: #fff;
}
/* ================= APP CONTAINER =================*/
.app__container {
    background-color: #F5F5F5;
}

.app__content {
    padding-top: 36px;
}

.category {
    background-color: var(--white-color);
    border-radius: 2px;
}

.category__heading {
    font-size: 1.6rem;
    color: var(--text-color);
    padding: 16px 16px;
    border-bottom: 1px solid rgba(0,0,0, 0.05);
}

.category__heading i {
    font-size: 1.2rem;
    margin-right: 4px;
    position: relative;
    top: -1px;
}

.category-list {
    padding: 0px 0px 6px 16px;
    margin-left: 8px;
}

.category-item--active .category-item__link {
    color: var(--primary-color);
}

.category-item--active .category-item__link::after {
    position: absolute;
    top: 13px;
    left: -7px;
    content: "";
    display: block;
    border: 4px solid rgba(0,0,0,0);
    border-left: 4px solid var(--primary-color);
}

.category-item__link {
    position: relative;
    right: 0px;
    transition: right linear 0.1s;
    
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    padding: 8px 0px;
    display: block;
}

.category-item__link:hover {
    color: var(--primary-color);
    right: -4px;
}

/* ================= HOME FILTER =================*/
.home-filter {
    background-color: rgba(0,0,0,0.04);
    display: flex;
    align-items: center;
    padding: 12px 22px;
    border-radius: 2px;
}

.home-filter__label {
    font-size: 1.4rem;
    color: #555;
    margin-right: 16px;
}

.home-filter__btn.btn{
    min-width: 90px;
    margin-right: 12px;
}

.home-filter__page {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.home-filter__page-num {
    color: var(--text-color);
    margin-right: 22px;
    font-size: 1.4rem;
}

.home-filter__page-current {
    color: var(--primary-color);
}

.home-filter__page-control {
    display: flex;
}

.home-filter__page-btn {
    width: 36px;
    height: 36px;
    background-color: var(--white-color);
    text-decoration: none;
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #555;
}

.home-filter__page-btn.home-filter__page-btn-disable {
    color: #ccc;
    background-color: #f9f9f9;
    cursor: default;
}

/* ================= HOME PRODUCT =================*/
.home-product-item {
    background-color: var(--white-color);
    display: block;
    text-decoration: none;
    margin-top: 10px;
    position: relative;
    cursor: pointer;
    box-shadow: 0 .0625rem .125rem 0 rgba(0,0,0,.1);
    transition: transform linear 0.1s;
}

.home-product-item:hover {
    box-shadow: 0 .0625rem 20px 0 rgba(0,0,0,.05);
    transform: translateY(-1px);
}

.home-product-item__img {
    width: 100%;
}

.home-product-item__name {
    font-size: 1.3rem;
    font-weight: 400;
    color: var(--text-color);
    line-height: 1.8rem;
    margin: 10px 10px;
    height: 3.6rem;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /*gioi han so dong*/
}

.home-product-item__price {
    display: flex;
    margin-left: 10px;
    flex-wrap: wrap;
}

.home-product-item__price-old {
    font-size: 1.3rem;
    color: #666;
    text-decoration: line-through;
    margin-right: 10px;
}

.home-product-item__price-new {
    font-size: 1.5rem;
    color: var(--primary-color);
}

.home-product-item__favourite {
    position: absolute;
    top: 10px;
    left: -2px;
    background-color: var(--primary-color);
    color: var(--white-color);
}

.home-product-item__favourite span {
    padding: 0 3px;
    font-size: 0.9rem;
    line-height: 16px;
}

.home-product-item__saleoff {
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: #FFE97A;
    color: #F13814;
}

.home-product-item__saleoff span {
    padding: 5px 5px;
}

.addToCart.btn {
    min-width: 100%;
    height: 35px;
    margin-top: 10px;
}

.addToCart span {
    font-size: 1.2rem;
}


/********** Template CSS **********/
:root {
    --primary: #FE5D37;
    --light: #FFF5F3;
    --dark: #103741;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}


/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Button ***/
.btn {
    font-weight: 500;
    transition: .5s;
}

.btn.btn-primary {
    color: #FFFFFF;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 50px;
}


/*** Heading ***/
h1,
h2,
h3,
h4,
.h1,
.h2,
.h3,
.h4,
.display-1,
.display-2,
.display-3,
.display-4,
.display-5,
.display-6 {
    font-family: 'Lobster Two', cursive;
    font-weight: 700;
}

h5,
h6,
.h5,
.h6 {
    font-weight: 600;
}

.font-secondary {
    font-family: 'Lobster Two', cursive;
}


/*** Navbar ***/
.navbar .navbar-nav .nav-link {
    padding: 30px 15px;
    color: var(--dark);
    font-weight: 500;
    outline: none;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
    color: var(--primary);
}

.navbar.sticky-top {
    top: -100px;
    transition: .5s;
}

.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 5px;
    transition: .5s;
}

.navbar .dropdown-toggle[aria-expanded=true]::after {
    transform: rotate(-180deg);
}

@media (max-width: 991.98px) {
    .navbar .navbar-nav .nav-link  {
        margin-right: 0;
        padding: 10px 0;
    }

    .navbar .navbar-nav {
        margin-top: 15px;
        border-top: 1px solid #EEEEEE;
    }
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        top: calc(100% - 15px);
        margin-top: 0;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
        
    }

    .navbar .nav-item:hover .dropdown-menu {
        top: 100%;
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
}


/*** Header ***/
.header-carousel::before,
.header-carousel::after,
.page-header::before,
.page-header::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 10px;
    top: 0;
    left: 0;
    z-index: 1;
}

.header-carousel::after,
.page-header::after {
    height: 19px;
    top: auto;
    bottom: 0;
}

@media (max-width: 768px) {
    .header-carousel .owl-carousel-item {
        position: relative;
        min-height: 500px;
    }
    
    .header-carousel .owl-carousel-item img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .header-carousel .owl-carousel-item p {
        font-size: 16px !important;
        font-weight: 400 !important;
    }

    .header-carousel .owl-carousel-item h1 {
        font-size: 30px;
        font-weight: 600;
    }
}

.header-carousel .owl-nav {
    position: absolute;
    top: 50%;
    right: 8%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
}

.header-carousel .owl-nav .owl-prev,
.header-carousel .owl-nav .owl-next {
    margin: 7px 0;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background: transparent;
    border: 1px solid #FFFFFF;
    border-radius: 45px;
    font-size: 22px;
    transition: .5s;
}

.header-carousel .owl-nav .owl-prev:hover,
.header-carousel .owl-nav .owl-next:hover {
    background: var(--primary);
    border-color: var(--primary);
}

.page-header {
    background-size: cover;
}

.breadcrumb-item + .breadcrumb-item::before {
    color: rgba(255, 255, 255, .5);
}


/*** Facility ***/
.facility-item .facility-icon {
    position: relative;
    margin: 0 auto;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.facility-item .facility-icon::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, .9);
    transition: .5s;
    z-index: 1;
}

.facility-item .facility-icon span {
    position: absolute;
    content: "";
    width: 15px;
    height: 30px;
    top: 0;
    left: 0;
    border-radius: 50%;
}

.facility-item .facility-icon span:last-child {
    left: auto;
    right: 0;
}

.facility-item .facility-icon i {
    position: relative;
    z-index: 2;
}

.facility-item .facility-text {
    position: relative;
    min-height: 250px;
    padding: 30px;
    border-radius: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

.facility-item .facility-text::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, .9);
    transition: .5s;
    z-index: 1;
}

.facility-item .facility-text * {
    position: relative;
    z-index: 2;
}

.facility-item:hover .facility-icon::before,
.facility-item:hover .facility-text::before {
    background: transparent;
}

.facility-item * {
    transition: .5s;
}

.facility-item:hover * {
    color: #FFFFFF !important;
}


/*** About ***/
.about-img img {
    transition: .5s;
}

.about-img img:hover {
    background: var(--primary) !important;
}


/*** Classes ***/
.classes-item {
    transition: .5s;
}

.classes-item:hover {
    margin-top: -10px;
}


/*** Team ***/
.team-item .team-text {
    position: absolute;
    width: 250px;
    height: 250px;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #FFFFFF;
    border: 17px solid var(--light);
    border-radius: 250px;
    transition: .5s;
}

.team-item:hover .team-text {
    border-color: var(--primary);
}


/*** Testimonial ***/
.testimonial-carousel {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

@media (min-width: 576px) {
    .testimonial-carousel {
        padding-left: 4rem;
        padding-right: 4rem;
    }
}

.testimonial-carousel .testimonial-item .border {
    border: 1px dashed rgba(0, 185, 142, .3) !important;
}

.testimonial-carousel .owl-nav {
    position: absolute;
    width: 100%;
    height: 45px;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    z-index: 1;
}

.testimonial-carousel .owl-nav .owl-prev,
.testimonial-carousel .owl-nav .owl-next {
    position: relative;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background: var(--primary);
    border-radius: 45px;
    font-size: 20px;
    transition: .5s;
}

.testimonial-carousel .owl-nav .owl-prev:hover,
.testimonial-carousel .owl-nav .owl-next:hover {
    background: var(--dark);
}


/*** Footer ***/
.footer .btn.btn-social {
    margin-right: 5px;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    border: 1px solid rgba(255,255,255,0.5);
    border-radius: 45px;
    transition: .3s;
}

.footer .btn.btn-social:hover {
    border-color: var(--primary);
    background: var(--primary);
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    font-size: 16px;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    color: var(--primary) !important;
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .form-control {
    border-color: rgba(255,255,255,0.5);
}

.footer .copyright {
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
    color: #FFFFFF;
}

.footer .footer-menu a {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, .1);
}

.footer .copyright a:hover,
.footer .footer-menu a:hover {
    color: var(--primary) !important;
}

.footer .footer-menu a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}
